@font-face {
  font-family: 'Chalkboard';
  src: URL('coolCrayon.ttf') format('truetype');
}

body {
    background-color: rgb(20, 20, 20);
}
#about-modal {
    color: white;
    font-family: 'Chalkboard';
    border-radius: 15%;
    background-image: url('../../Images/blackboard.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    justify-content: center;
    position: absolute;
    left: 30vw;
    top: 25vh;
    width: 40vw;
    height: 50vh;
    z-index: 100;
}

.modal-content {
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-title {
    margin-top: 40px;
    font-size: 38px;
}

.modal-paragraph {
    margin-top: 20px;
    font-size: 20px;
    word-spacing: 8px;
    letter-spacing: px;
}

#app {
    display: flex;
    z-index: 0;
    font-family: 'Chalkboard';
    color: white;
    background-image: url('../../Images/blackboard.jpeg');
    background-position: center;
    background-size: cover;
    background-color: black;
}

.data-visualization {
    height: 100vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual {
    height: 100%;
    width: 100%;
}

/* Sidebar */

.app-sidebar {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-show-container {
    height: 80%;
    width: 65%;
    background-color: white;
    border: 2px solid white;
    border-radius: 15%;
}

#image-show {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    background-size: auto;
    background-repeat: no-repeat;
}

.app-nav {
    transition-duration: .125s;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn:hover {
    transition-duration: .125s;
    transform: scale(1.25);
}

.sidebar-show-section {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-label {
    display: flex;
    justify-content: center;
}
.input-header {
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}

.input-ingredient {
    width: 80%;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    border-bottom: 3px solid white;
}

.form-section {
    width: 100%;
    height: 25vh;
}

.form-button-container {
    margin-top: 20x;
    padding-top: 45px;
    display: flex;
    justify-content: space-around;
    width: 70%; 
}

.form-btn {
    transition-duration: .125s;
    padding: 10px 14px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 0.8;
}

.form-btn:hover {
    transition-duration: .125s;
    transform: scale(1.25);
    opacity: 1;
}

.ingredients-list-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

#ingredients-list {
    margin-top: 5%;
    padding-top: 3%;
    position: relative;
    height: 70%;
    width: 50%;
    margin-bottom: 5%;
    text-align: center;
}

.ingredient-item:hover {
    cursor: pointer;
    transition: .125s;
    transform: scale(1.25);
}

.ingredients-list-title {
    text-decoration: underline;
    font-size: 24px;
}
path {
    fill: none;
    stroke: rgb(250, 123, 223);
    stroke-width: 1.5px;
    stroke-opacity: 0.4;
}

path:hover {
    stroke-width: 2.5px;
    stroke-opacity: 0.8;
}

.svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-link {
    cursor: pointer;
    font-family: 'Amiri', 'serif';
    fill: white;
}

.recipe-link:hover {
    font-size: 125%;
    font-weight: 900;
}

circle {
    fill: rgb(136, 136, 236);
}
