body {
    display: flex;
    z-index: 10000;
}

.data-visualization {
    height: 100vh;
    width: 75vw;
    background-color: rgb(185, 223, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual {
    height: 90%;
    width: 90%;
    background-color: white;
}


/* Sidebar */

.app-sidebar {
    height: 100vh;
    width: 25vw;
    background-color: rgb(240, 176, 176);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#about-modal {
    display: none;
    position: absolute;
    left: 50vw;
    right: 50vw;
    width: 20vw;
    height: 20vh;
    background-color: white;
    border: 1px solid black;
}

.app-nav {
    height: 10vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
}

path {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.svg-container {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingredients-list {
    position: relative;
    height: 25%;
    width: 40%;
    background-color: white;
    margin-bottom: 5%;
    text-align: center;
}

.recipe-link {
    cursor: pointer;
}